setuptools<82
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
pillow==10.2.0
pandas
wandb
omegaconf
colorama
tqdm
opencv-python-headless
matplotlib
seaborn
lightning
imageio
pytz
einops>=0.7
wandb-osh
diffusers
safetensors
datasets
internetarchive
scipy
rotary_embedding_torch
torchmetrics[image]==0.11.4
timm
pyiqa==0.1.10
transformers
decord
ninja
hydra-core
accelerate
colorlog
scikit-learn
openai-clip
wandb[media]
deepspeed
roma
gsutil

